---
import StatusHistory from "../components/StatusHistory.svelte";
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout title="状态更新记录" description="站长状态更新历史">
    <div class="flex w-full rounded-[var(--radius-large)] relative min-h-32">
        <div class="card-base card-base-holo z-10 px-4 py-4 md:px-6 md:py-5 relative w-full">
            <h1 class="text-2xl md:text-3xl font-bold mb-2 text-center text-90">
                站长状态更新记录
            </h1>
            <p class="text-sm text-center text-50 mb-4 md:mb-5">
                Ciallo～(∠・ω&lt; )⌒★
            </p>
            <StatusHistory client:only="svelte" />
        </div>
    </div>
</MainGridLayout>
